<main>
    <section class="container">
        <div class="row text-center mb-5 mt-5">
            <div class="col-sm-6">
                <div class="card">
                    <img src="./assets/workout.jpg" width="572"  class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">WorkoutChamp</h5>
                        <p class="card-text">Liten app för att hålla reda på träningspass hemma och på gym</p>
                        <a routerLink="/workoutchamp" class="btn btn-primary">Till WorkoutChamp</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <img src="./assets/tramstally.jpg" width="572"  class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">TramsTally</h5>
                        <p class="card-text">Liten app för att hålla reda på träningspass hemma och på gym</p>
                        <a href="#" class="btn btn-primary">Till Tramstally</a>
                    </div>
                </div>
            </div>
        </div>
    </section>