<!--header>
    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">Nollställ</h4>
            <p class="text-muted" *ngIf="!showGymResetBtn">Nollställ gymräknaren &nbsp; &nbsp;
              <button [disabled]="showGymResetBtn || nrOfGymWorkoutsCompleted === nrOfGymWorkoutsCompletedBaseVal" (click)="showResetButton('gymKey')"
                class="btn btn-outline-danger me-md-2 btn-sm btn-end" type="button">Nollställ räknaren</button>
            </p>
            <p class="text-muted" *ngIf="showGymResetBtn">Är du säker? &nbsp; &nbsp;
              <button *ngIf="showGymResetBtn" (click)="reset('gymKey')" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                class="btn btn-danger me-md-2 btn-sm btn-end" type="button">Ja, nollställ räknaren</button>
            </p>
            <hr />
            <p class="text-muted" *ngIf="!showHomeResetBtn">Nollställ hemma räknaren &nbsp; &nbsp;
              <button [disabled]="showHomeResetBtn || nrOfHomeWorkoutsCompleted === nrOfHomeWorkoutsCompletedBaseVal" (click)="showResetButton('homeWorkout')"
                class="btn btn-outline-danger me-md-2 btn-sm btn-end" type="button">Nollställ räknaren</button>
            </p>
            <p class="text-muted" *ngIf="showHomeResetBtn">Är du säker? &nbsp; &nbsp;
              <button *ngIf="showHomeResetBtn" (click)="reset('homeWorkout')" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                class="btn btn-danger me-md-2 btn-sm btn-end" type="button">Ja, nollställ räknaren</button>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark shadow-sm">
      <div class="container">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <img src="../../../assets/favicon-32x32.png" title="WorkoutChamp" class="me-2">
          <strong>WorkoutChamp</strong>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
          aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>-->

<main>
  <section class="container">
    <div class="row text-center mb-5 mt-5">
      <div class="col">
        <div class="card text-center">
          <img src="./assets/gym.jpg" class="card-img-top" alt="gymworkout">
          <div class="card-body">
            <h5 class="card-title"><span class="accent">{{ nrOfGymWorkoutsCompleted }}</span> träningspass</h5>
            <p class="card-text text-muted">Antal pass genomförda på Nordic wellness gymanläggningar. Kortet kostar
              <span class="accent"><strong>
                  <!--{{ priceOfEachVisit | number: '1.0-2' }}-->kr
                </strong></span> uträknat per träningstillfälle
            </p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <svg xmlns="http://www.w3.org/2000/svg" (click)="decrease('gymKey')" width="65" height="65"
                  fill="currentColor" class="bi bi-dash red" viewBox="0 0 16 16">
                  <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                </svg>
              </div>
              <div class="col">
                <svg xmlns="http://www.w3.org/2000/svg" (click)="increase('gymKey')" width="65" height="65"
                  fill="currentColor" class="bi bi-plus-lg accent" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center mb-5 mt-5">
      <div class="col">
        <div class="card text-center">
          <img src="./assets/homeworkout.jpg" class="card-img-top" alt="homeworkout">
          <div class="card-body">
            <h5 class="card-title"><span class="accent">{{ nrOfHomeWorkoutsCompleted }}</span> träningspass</h5>
            <p class="card-text text-muted">Antal pass genomförda hemmaträningar. </p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <svg xmlns="http://www.w3.org/2000/svg" (click)="decrease('homeWorkout')" width="65" height="65"
                  fill="currentColor" class="bi bi-dash red" viewBox="0 0 16 16">
                  <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                </svg>
              </div>
              <div class="col">
                <svg xmlns="http://www.w3.org/2000/svg" (click)="increase('homeWorkout')" width="65" height="65"
                  fill="currentColor" class="bi bi-plus-lg accent" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="liveToastBtn" class="toast" [ngClass]="resetBtnIsVisible ? 'show' : 'hide'" role="alert"
          aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
              <path
                d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
            </svg> &nbsp; &nbsp;
            <strong class="me-auto">Nollställ räknare</strong>
            <small>11 mins ago</small>
            <button type="button" class="btn-close" (click)="toggleResetVisibility()" data-bs-dismiss="toast"
              aria-label="Close"></button>
          </div>
          <div class="toast-body">
            <p class="text-muted" *ngIf="showGymResetBtn === false">Nollställ gymräknaren &nbsp; &nbsp;
              <button [disabled]="showGymResetBtn || nrOfGymWorkoutsCompleted === nrOfGymWorkoutsCompletedBaseVal"
                (click)="showResetButton('gymKey')" class="btn btn-outline-danger me-md-2 btn-sm btn-end"
                type="button">Nollställ räknaren</button>
            </p>
            <p class="text-muted" *ngIf="showGymResetBtn">Är du säker? &nbsp; &nbsp;
              <button *ngIf="showGymResetBtn" (click)="reset('gymKey')" class="btn btn-danger me-md-2 btn-sm btn-end"
                type="button">Ja, nollställ
                räknaren</button>
            </p>

            <p class="text-muted" *ngIf="!showHomeResetBtn">Nollställ hemma räknaren &nbsp; &nbsp;
              <button [disabled]="showHomeResetBtn || nrOfHomeWorkoutsCompleted === nrOfHomeWorkoutsCompletedBaseVal"
                (click)="showResetButton('homeWorkout')" class="btn btn-outline-danger me-md-2 btn-sm btn-end"
                type="button">Nollställ räknaren</button>
            </p>
            <p class="text-muted" *ngIf="showHomeResetBtn">Är du säker? &nbsp; &nbsp;
              <button *ngIf="showHomeResetBtn" (click)="reset('homeWorkout')"
                class="btn btn-outline-danger me-md-2 btn-sm btn-end" type="button">Ja, nollställ
                räknaren</button>
            </p>
          </div>
        </div>
        <button (click)="toggleResetVisibility()" class="btn btn-outline-danger me-md-2 btn-sm" type="button">Nollställ räknare</button>
      </div>-->
    </div>
  </section>


  
  <section class="container mb-5">
    <div class="card " [ngClass]="resetBtnIsVisible ? '' : 'visually-hidden'" >
      <div class="card-header">
        Nollställ räknare
      </div>
      <div class="card-body">
        
        <p class="" *ngIf="showGymResetBtn === false">Nollställ gymräknaren <br />
          <button [disabled]="showGymResetBtn || nrOfGymWorkoutsCompleted === 0"
            (click)="showResetButton('gymKey')" class="btn btn-outline-danger me-md-2 btn-sm btn-end"
            type="button">Nollställ räknaren</button>
        </p>
        <p class="text-muted" *ngIf="showGymResetBtn">Är du säker?<br />
          <button *ngIf="showGymResetBtn" (click)="reset('gymKey')" class="btn btn-danger me-md-2 btn-sm btn-end"
            type="button">Ja, nollställ
            räknaren</button>
        </p>
        <hr />

        <p class="" *ngIf="!showHomeResetBtn">Nollställ hemma räknaren <br />
          <button [disabled]="showHomeResetBtn || nrOfHomeWorkoutsCompleted === 0"
            (click)="showResetButton('homeWorkout')" class="btn btn-outline-danger me-md-2 btn-sm btn-end"
            type="button">Nollställ räknaren</button>
        </p>
        <p class="text-muted" *ngIf="showHomeResetBtn">Är du säker? <br />
          <button *ngIf="showHomeResetBtn" (click)="reset('homeWorkout')"
            class="btn btn-outline-danger me-md-2 btn-sm btn-end" type="button">Ja, nollställ
            räknaren</button>
        </p>
        <hr />
        <button *ngIf="resetBtnIsVisible" class="btn btn-success me-md-2 btn-sm" (click)="toggleResetVisibility()" type="button">Stäng</button>
      </div>
    </div>
    <button *ngIf="(nrOfHomeWorkoutsCompleted > 0 || nrOfGymWorkoutsCompleted > 0) && !resetBtnIsVisible" class="btn btn-outline-danger me-md-2 btn-sm" (click)="toggleResetVisibility()" type="button">Nollställ räknare</button>
  </section>

</main>