<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
          <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
              <use xlink:href="#bootstrap"></use>
            </svg>
          </a>
          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a routerLinkActive="active" routerLink="/" class="nav-link px-2 text-white" data-bs-toggle="collapse" data-bs-target="#navbarHeader">Start</a></li>
            <li><a routerLinkActive="active" routerLink="/workoutchamp" class="nav-link px-2 text-white" data-bs-toggle="collapse" data-bs-target="#navbarHeader">WorkoutChamp</a></li>
            <li><a routerLinkActive="active" routerLink="/tramstally" class="nav-link px-2 text-white" data-bs-toggle="collapse" data-bs-target="#navbarHeader">TramsTally</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        
        <strong>
          <!--{{ data.title }}-->
        </strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
        aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<router-outlet></router-outlet>