<main>
  <section class="container">
    <div class="row text-center mb-5 mt-5">
      <div class="col">
        <div class="card text-center">
          <img src="./assets/gymworkout.jpg" class="card-img-top" alt="gymWorkout updated">
          <div class="card-body">
            <h5 class="card-title"><span class="accent">{{ counters.gymWorkout.data }}</span> träningspass</h5>
            <p class="card-text text-muted">Antal pass genomförda på Nordic wellness gymanläggningar. Kortet kostar
              <span class="accent"><strong>
                  {{ priceOfEachVisit | number: '1.0-2' }}kr
                </strong></span> uträknat per träningstillfälle
            </p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <svg xmlns="http://www.w3.org/2000/svg" (click)="decrease('gymWorkout')" width="65" height="65"
                  fill="currentColor" class="bi bi-dash red" viewBox="0 0 16 16">
                  <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                </svg>
              </div>
              <div class="col">
                <svg xmlns="http://www.w3.org/2000/svg" (click)="increase('gymWorkout')" width="65" height="65"
                  fill="currentColor" class="bi bi-plus-lg accent" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center mb-5 mt-5">
      <div class="col">
        <div class="card text-center">
          <img src="./assets/homeworkout.jpg" class="card-img-top" alt="homeWorkout">
          <div class="card-body">
            <h5 class="card-title"><span class="accent">{{ counters.homeWorkout.data }}</span> träningspass</h5>
            <p class="card-text text-muted">Antal pass genomförda hemmaträningar. </p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <svg xmlns="http://www.w3.org/2000/svg" (click)="decrease('homeWorkout')" width="65" height="65"
                  fill="currentColor" class="bi bi-dash red" viewBox="0 0 16 16">
                  <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                </svg>
              </div>
              <div class="col">
                <svg xmlns="http://www.w3.org/2000/svg" (click)="increase('homeWorkout')" width="65" height="65"
                  fill="currentColor" class="bi bi-plus-lg accent" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container mb-5" id="somediv">
    <div class="card " [ngClass]="resetBtnIsVisible ? '' : 'visually-hidden'">
      <div class="card-header">
        Nollställ räknare
      </div>
      <div class="card-body">

        <p class="" *ngIf="showGymResetBtn === false">Nollställ gymräknaren <br />
          <button [disabled]="showGymResetBtn || counters.gymWorkout.data === 0" (click)="showResetButton('gymWorkout')"
            class="btn btn-outline-danger me-md-2 btn-sm btn-end" type="button">Nollställ räknaren</button>
        </p>
        <p class="text-muted" *ngIf="showGymResetBtn">Är du säker?<br />
          <button *ngIf="showGymResetBtn" (click)="reset('gymWorkout')" class="btn btn-danger me-md-2 btn-sm btn-end"
            type="button">Ja, nollställ
            räknaren</button>
        </p>
        <hr />

        <p class="" *ngIf="!showHomeResetBtn">Nollställ hemma räknaren <br />
          <button [disabled]="showHomeResetBtn || counters.homeWorkout.data === 0"
            (click)="showResetButton('homeWorkout')" class="btn btn-outline-danger me-md-2 btn-sm btn-end"
            type="button">Nollställ räknaren</button>
        </p>
        <p class="text-muted" *ngIf="showHomeResetBtn">Är du säker? <br />
          <button *ngIf="showHomeResetBtn" (click)="reset('homeWorkout')"
            class="btn btn-outline-danger me-md-2 btn-sm btn-end" type="button">Ja, nollställ
            räknaren</button>
        </p>
        <hr />
        <button *ngIf="resetBtnIsVisible" class="btn btn-success me-md-2 btn-sm" (click)="toggleResetVisibility();"
          type="button">Stäng</button>
      </div>
    </div>
    <div class="text-center">
      <button *ngIf="(counters.homeWorkout.data > 0 || counters.gymWorkout.data > 0) && !resetBtnIsVisible"
        class="btn btn-outline-danger me-md-2 btn-sm" (click)="toggleResetVisibility()" type="button">Nollställ
        räknare</button>
    </div>
  </section>
</main>